body {
background: #fff;
color: #222;
 font-family: "Work Sans", sans-serif;
}

/* Header */
.site-top {
padding: 25px 0;
}
/* Hero */
.hero {
border-radius: 14px;
overflow: hidden;
background: #eee;
position: relative;
margin-bottom: 92px;

}
.hero .carousel-item img {
object-fit: cover;
height: 420px;
width: 100%;
}
.hero-caption {
position: absolute;
left: 40px;
top: 35%;
color: #fff;
}
.hero-caption h2 {
font-weight: 600;
font-size: 45px;
margin-bottom: 10px;
}
.hero-caption p {
color: rgba(255, 255, 255, 0.9);
margin-bottom: 18px;
font-size: 25px;
}
.hero .btn-outline-light {
border-color: rgba(255, 255, 255, 0.6);
} 
.hero .slider{
position: absolute;
bottom: 30px;
left:  40%;
}
/* Products */
.section-title {
display: flex;
justify-content: space-between;
align-items: center;
margin: 18px 0;
color: #504e4e;
}
.product-card {
border-radius: 12px;
padding: 14px;
cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  transition: all 0.7s ;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.product-card img {
border-radius: 8px;
width: 100%;
object-fit:cover;
}
.product-title {
font-size: 20px;
font-weight: 600;
margin-top: 10px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span {
font-size: 16px;
color: #ad9e59;
}
.product-card {
  transition: all 0.3s ease;
}

.add-to-cart-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 20px;
  padding: 8px 16px;
  background-color: white;
  color: rgb(19, 19, 18);
  border: 2px solid rgb(114, 114, 96);
  bottom: 15px;
  left: 90px;
  padding: 6px;
}

.product-card:hover .add-to-cart-btn {
  opacity: 1;
}

.product-card img {
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.05);
}

/* Footer */
footer {
padding: 36px 0;
font-size: 13px;
color: #9b9b9b;
}
.newsletter input {
     border-radius: 30px 0 0 30px; }
.newsletter button { 
    border-radius: 0 30px 30px 0; }


@media screen and (max-width:768px) {
.hero .carousel-item img { height: 260px; }
.hero-caption {
position: static;
background-color: #865f5f;
padding: 18px;
width: 100%;
}
}
