
 body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background: url(https://media.licdn.com/dms/image/v2/D5622AQHKVY3rxXs9AQ/feedshare-shrink_800/B56ZkGgMdWH8As-/0/1756750730550?e=2147483647&v=beta&t=JHWcqV5snBvDId-Oow9d5nWR_P509XvxNztAsGMm3QQ) no-repeat center center fixed;
      background-size: cover; 
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login {
      background: rgba(1, 8, 20, 0.9);
      padding: 40px;
      border-radius: 15px;
      width: 100%;
      max-width: 550px;
      text-align: center;
      font-family: "Orbitron", sans-serif;
    }
    .login img {
      width: 110px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    .form-control {
      margin-bottom: 15px;
      border-radius: 8px;
    }

    .login .btn{
        background-color: rgb(71, 126, 158);
    }
    .btn-custom {
      width: 100%;
      padding: 12px;
      border-radius: 8px;
      font-size: 16px;
    }